*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
.idea/misc
.idea/runConfigurations
.idea/jarRepositories
.idea/vcs
/.idea/assetWizardSettings.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/caches
/.idea/libraries
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml